.window {
  background: #848b6e;
  border: #414433 solid 1px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 3px 0.2px rgba(0,0,0,0.75);
}
.window .window-header {
  background: #414433;
  color: #969c80;
  padding: 2px;
  font-size: 20px;
}
.logo-area {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.logo-area p {
  padding: 0px;
  margin: 0px;
}
.window-logo {
  font-size: 50px;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.window-body {
  padding: 2px;
}
.hex-primary {
  color:#414433;
  font-weight: bold;
  padding:5px;
}
.hex-primary:hover {
  background: #414433;
  color:#969c80;
  box-shadow: 0px 2px 3px 0.2px rgba(0,0,0,0.2);

}
.hex-input {
  border: #414433 1px dashed;
  background: transparent;
  color:#414433;
  padding:5px;
  width: 100%;
  transition: background 0.1s;
  font-family: 'pixel-kr','pixel';
  font-size:18px;
}
.hex-input:hover {
  background: #414433;
  color:#969c80;
  box-shadow: 0px 2px 3px 0.2px rgba(0,0,0,0.2);

}
.window form {
  margin-left: auto;
  margin-right: auto;
}
.window form label {
  margin-bottom: 5px;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.form-group {
  padding: 5px;
}

#canvas, .container {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

.container {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-lancher {
  bottom: 0px;
  position:fixed;
  height: 30px;
  background-color: #414433;
  width: 100%;
  color: #969c80;
}
.app-lancher a{
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 20px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  color: inherit;
  transition: background-color 0.3s;
  text-decoration: none;
}
.app-lancher a:hover{
  background-color: #969c80;
  color: #414433;
  cursor: pointer;
}
.app {
  height: 100hv;
}
.hex-list {
  list-style: none;
  display: flex; 
  flex-direction: column ;
  
}
.hex-list li{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
}
.selected{
  background-color: #414433;
  color: #969c80;
}
.hex-list li:hover{
  background-color: #414433;
  color: #969c80;
  cursor: pointer;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}